# Ignore everything
/*

# Install script
!/install.sh
!/formulae.txt
!/casks.txt

# .gitignore and README
!/.gitignore
!/README.md

# Window Manager
!/aerospace

# Terminal
!/ghostty
!/tmux

# Shell
!/zsh
/zsh/.*
!/zsh/.zshrc
/zsh/plugins/*

# Editor
!/nvim
/nvim/lazy-lock.json
!.vimrc

# Misc
!/sketchybar
