# Ignore everything
/*

# Install script
!/install.sh
!/formulae.txt
!/casks.txt

# .gitignore and README
!/.gitignore
!/README.md

# Iterm2
!/iterm2
/iterm2/*
/iterm2/colors

# Zsh
!/zsh
/zsh/.*
!/zsh/.zshrc
/zsh/plugins/*

# Neovim
!/nvim
/nvim/lazy-lock.json

# Vim
!.vimrc

# VSCode
!/vscode

# Tmux
tmux/plugins
!/tmux

# Starship
!starship/

# oh-my-posh
!oh-my-posh/
